.loadable {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: scroll;
  }
  
  .loadable > .loading-mask,
  .loadable > table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px; /* Same as its parent */
  }
  
  .loading-mask {
    display: none; /* Hidden by default */
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('https://i.imgur.com/lW8P6HP.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
  }
  
  #myInput {
    margin-bottom: 0.667em;
  }